<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @wb_csv_line.code %>
</p>

<p>
  <strong>Ocode:</strong>
  <%= @wb_csv_line.ocode %>
</p>

<p>
  <strong>Arrival:</strong>
  <%= @wb_csv_line.arrival %>
</p>

<p>
  <strong>Departure:</strong>
  <%= @wb_csv_line.departure %>
</p>

<p>
  <strong>Received:</strong>
  <%= @wb_csv_line.received %>
</p>

<p>
  <strong>Name:</strong>
  <%= @wb_csv_line.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @wb_csv_line.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @wb_csv_line.email %>
</p>

<p>
  <strong>Price:</strong>
  <%= @wb_csv_line.price %>
</p>

<p>
  <strong>Roomn:</strong>
  <%= @wb_csv_line.roomn %>
</p>

<p>
  <strong>Status:</strong>
  <%= @wb_csv_line.status %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @wb_csv_line.origin %>
</p>

<%= link_to 'Edit', edit_wb_csv_line_path(@wb_csv_line) %> |
<%= link_to 'Back', wb_csv_lines_path %>
