<h1>ExpediaCollect#view</h1>
<p>Find me in app/views/expedia_collect/view.html.erb</p>

<table class="table table-bordered">
  <thead>
  <tr>
    <td>Name</td>
    <td>Check_in</td>
    <td>Check_out</td>
    <td>Res ID</td>
    <td>Amount</td>
    <td>Ch#</td>
    <td>CC</td>

  </tr>
  </thead>
  <tbody>
  <% @res.each() do |r| %>
      <tr>
        <td><%= r.customer_name %> <%= r.customer_surname %></td>
        <td><%= r.date_arrival.strftime("%m/%d/%Y") %></td>
        <td><%= r.date_departure.strftime("%m/%d/%Y") %></td>
        <td><%= r.channel_reservation_code %></td>
        <td><%= r.amount %></td>
        <td><%= r.reservation_code %></td>
        <td><%= r.cc_info %></td>
      </tr>
  <% end %>
  </tbody>

</table>



