<h1>Reservation#view</h1>
<p>Find me in app/views/reservation/view.html.erb</p>
<div class="row well ">
  <div class="col-md-6">
    <%= form_tag("/reservation/today", method: "get") do %>
        <%= label_tag(:date_from, "Date:") %>
        <%= date_field_tag(:date ,@date) %>

        <%= submit_tag("Get",class:"btn btn-success") %>
    <% end %>
  </div>
</div>



<div class="row">
  <div class="col-md-12">
    <h2>Presence</h2>
    <table id="restable" class="table table-bordered">
      <%= render 'res_table_head' %>
      <tbody>
      <% @presence.each() do |r| %>
          <%= render 'resrow', r:r %>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-12">
    <h2>Check-in</h2>
    <table id="restable" class="table table-bordered">
      <%= render 'res_table_head' %>
      <tbody>
      <% @ci.each() do |r| %>
          <%= render 'resrow', r:r %>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-12">
    <h2>Check-out</h2>
    <table id="restable" class="table table-bordered">
      <%= render 'res_table_head' %>
      <tbody>
      <% @co.each() do |r| %>
          <%= render 'resrow', r:r %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

